<!--S api目录-->

<aside id="j_api" class="api">
	<h2 class="api_hd">
		<a href="<%- config.root %>">HALO.JS</a>
		<span>DOC</span>
	</h2>
	<div class="api_search">
		<input id="j_api_search_input" type='text' placeholder="搜索(支持正则表达式)">
	</div>
	<div id="j_api_list" class="api_list">
		<ul id='j_api_list_normal' class="api_list_normal">
			<%
				site.posts.sort('order', 1).forEach(function (val) { 
					var iscurrent = post.title === val.title;
			%>

				<li <%- iscurrent ? 'id="j_curr" class="current api_list_item"' : 'class="api_list_item"'%>>
					<a class='api_list_item_title' href='<%- config.root + val.path %>'><%- val.title %></a>
					<%- limitedTOC(val.content, {
						path: config.root + val.path,
						iscurrent: iscurrent
					}) %>
				</li>

			<% }) %>
		</ul>
		<ul id='j_api_list_search' class="api_list_search"></ul>
	</div>
</aside>

<!--E api目录-->