<!--S 文章-->
<div id='j_post' class="post">
	<h1 id="<%- post.title %>" class="post_title">
<!--		<%- link_to(post.path, post.title) %>-->
		<%- post.title %>
		<a class="post_title_edit" href='https://github.com/<%- config.author %>/haloDoc/edit/article/source/<%- post['source'] %>' target="_blank">Edit</a>
	</h1>
	<div class="post_content">
		<%- post.content %>
	</div>
</div>
<!--E 文章-->